/* FONT */
.container-fluid{
    font-family: 'Bree Serif', serif;
}
footer{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-size: 2rem;
}

/* COLOR */
:root{
    --the-orange: rgb(254, 144, 0);
    --the-text: rgb(255, 255, 255);
    --the-background: #222228;
}

body{
    background: var(--the-background);
}
.container-fluid{
    color: var(--the-text);
}

.nav-link, .navLink, .navbar-toggler-icon{
    color: var(--the-text);
}
.nav-link:hover, .navLink:hover, h1, .card-title, .price{
    color: var(--the-orange);
}
.navLink:hover{
    text-decoration: none;
}

.btn{
    background: var(--the-orange);
    color: var(--the-background);
    width: 10rem;
}

.myborder{
    border: 10px solid var(--the-orange);
    background: rgba(34, 34, 40, 0.9);
}

.menu .card{
    border: none;
    background: transparent;
    border-radius: 0 !important;
}
.menu .card img{
    border-radius: 0 !important;
}

.meal{
    background: var(--the-orange);
    color: var(--the-text);
}

/* IMG */
header{
    background: url(../img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-us img{
    display: none;
}

.quality{
    background: url(../img/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 482px;
    grid-gap: 20px;
    grid-template-areas:
    "a b c"
    "d e f";
}
.grid-container > .a{
  grid-area: a;
  height: 100%;
  background: url(../img/gallery1.png);
  background-repeat: no-repeat;
}
.grid-container > .b{
  grid-area: b;
  height: 100%;
  background: url(../img/gallery2.png);
  background-repeat: no-repeat;
}
.grid-container > .c{
  grid-area: c;
  height: 100%;
  background: url(../img/gallery3.png);
  background-repeat: no-repeat;
}
.grid-container > .d{
  grid-area: d;
  height: 100%;
  background: url(../img/gallery4.png);
  background-repeat: no-repeat;
}
.grid-container > .e{
  grid-area: e;
  height: 100%;
  background: url(../img/gallery5.png);
  background-repeat: no-repeat;
}
.grid-container > .f{
  grid-area: f;
  height: 100%;
  background: url(../img/gallery6.png);
  background-repeat: no-repeat;
}
.grid-container img{
    width: 100%;
    height: auto;
}

.enjoy{
    background: url(../img/enjoy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.meal img{
    position: absolute;
    top: -60px;
}

/* layout */
body, .container-fluid{
    margin: 0;
    padding: 0;
}
.container-fluid{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

header{
    height: 100vh;
}

section{
    margin-top: 8%;
    margin-bottom: 8%;
}

.quality{
    height: 1700px;
}
.quality div{
    margin-top: 25rem;
    margin-left: 10rem;
}

.enjoy{
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meal{
    position: relative;
    height: 500px;
}

footer div a{
    margin: 10px;
}

/* media queries */

@media (max-width: 991.98px){
    header, .quality, .enjoy, .meal{
        height: auto;
    }
    .img-header, .navbar-brand{
        display: none;
    }
    .contact-us{
        margin: 0 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    .contact-us .btn{
        margin: auto !important;
    }
    .contact-us img{
        display: block;
        width: 200px;
        margin: 0 auto 40px auto;
    }

    .about h2{
        margin-top: 20px;
    }

    .quality div{
        margin-left: 0;
        margin-top: 0;
        padding: 5px;
        background: rgba(34, 34, 40, 0.3);
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
    }

    .enjoy, .meal{
        padding: 50px;
    }

    .meal img{
        display: none;
    }
    .meal h6, .meal p{
        z-index: 1;
    }
}

@media (min-width: 768px) and (max-width: 1023.98px){
    .quality div{
        margin: auto;
    }
}
